.info {
    width: clamp(12.5rem, -1.136rem + 68.18vw, 50rem);
    color: #eccf90cc;
    text-align: center;
    font-size: clamp(1.125rem, 0.852rem + 1.36vw, 1.875rem);
    margin-top: 5%;
    padding-left: 13%;
    padding-top: 0;
    margin-bottom: 0;
    
}

@media screen and (max-width: 768px) {
    .info {
        padding-top: 0;
        padding-left: 15%;
        margin-top: 40%;
        margin-bottom: 0;
    }
}



